---
sitemap: false
---

@charset "utf-8";

$accent-color: #da4096;

@import "so-simple";

.layout--home .page-wrapper {
  max-width: 860px;
}

.layout--home {
  .content-section {
    margin-bottom: 2em;
  }

  img.logo {
    @include breakpoint($medium) {
      max-width: 300px;
    }

    @include breakpoint($large) {
      max-width: 400px;
    }
  }

  .page-title {
    .header-main {
      margin-bottom: 10px;
    }
    .header-sub {
      font-size: 0.6em;
      color: #8a8a8a;
      letter-spacing: 0;
    }
  }

  .button-wrapper {
    text-align: center;

    .btn {
      margin: 0 1em;
    }
  }
}
