---

sitemap: false
---

@charset "utf-8";

@import "so-simple";

.grid-container {
  display: grid;
  grid-gap: 30px;
}
.grid-item {
  display: block;
	float:left;
	margin: 1% 0 1% 0%;
  width: 100%;
}
.grid-item:first-child { margin-left: 0; }

h2 {text-align: center;}

.layout--home .page-wrapper {max-width: 960px;}

.copyright {margin: 0 6%;}

/* For Mobile devices */
@media only screen and (min-width: 768px) {
  .col-1 {grid-column: 1 / 2;}
  .col-2 {grid-column: 2 / 3;}
  .col-3 {grid-column: 3 / 4;}
  .col-4 {grid-column: 4 / 5;}
  .grid-item {margin: 1% 0 1% 1.6%;}
  .center-container {
    width:50vw;
    max-width: 600px;
    margin: 0 auto;
  }
}
